@media screen and (min-width: 320px){
    html{
        font-size:50px;
    }
}
@media screen and (min-width: 375px){
    html{
        font-size:58.59375px;
    }
}
@media screen and (min-width: 320px){
    html{
        font-size:64.6875px;
    }
}
header{
    position: relative;
    width:100%;
    height:1.1rem;
    line-height:1.1rem;
    text-align: center;
    background-color: #252525;
    color: #fff;
}
header .btn{
    position: absolute;
    top:.36rem;
    left:.22rem;
    width:.35rem;
    height:.35rem;
    background: url("../img/btn-icon.png") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
header h1{
    font-weight:normal;
    font-size:.3rem;
}
.box{
    padding:0 .35rem;
}
.tit-pic{
    margin:1rem auto 1.18rem;
    width:1.18rem;
    height:1.18rem;
}
.tit-pic img{
    width:100%;
}
.ipt-box{
    margin-bottom:.27rem;
    padding-left:.35rem;
    width:auto;
    height:.8rem;
    border:1px solid #d0d0d0;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size: .24rem;
    line-height: .8rem;
    color: #777;
}
.ipt-box span{
    margin-right:.1rem;
}
.ipt-box input{
    border:0;
    width:50%;
}
.ver-code{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.ver-code .iptBox{
    width:52%;
}
.ver-code input{
    width:50%;
}
.ver-code .send-btn{
    display: inline-block;
    border:1px solid #188ae4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    width:43%;
    height:.78rem;
    line-height: .78rem;
    text-align: center;
    font-size: .24rem;
    background-color: #d8edfe;
    color: #188ae4;
}
.submit{
    display: block;
    margin:.06rem 0 3rem;
    width:100%;
    line-height:.8rem;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size:.3rem;
    background-color: #188ae4;
    color: #fff;
    text-align: center;
}




















